**/build
AUTHORS
ChangeLog
Makefile.in
NEWS
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
lib/Makefile.in
ltmain.sh
missing
test-driver
test/Makefile.in
